
#border
{
   
   border-style: groove;
   border-color: gold;
   border-width: 10px;
    height: 18cm;
    width: 16cm;
    position: absolute;
    left: 400px;
    top: 50px;
    opacity: 0.5;
    background-color: cadetblue;
}
#back
{
    color: rgb(12, 4, 4);
    position: absolute;
    text-align: center;
    left: 600px;
    top: 100px;
    font-size: 20px;
}